<!-------------------List displaying all hikes using repeat------------------------>
<div class="container">
    <button ng-click='hCtrl.createHike()' class="btn btn-success"> Add New Hike</button>
    <br>
    <input type="text" name="searchText" , ng-model='searchText' />
    <br>
    <div style="height:700px;overflow-y:scroll;border-radius:30px;">
        <ul class="list-group">
            <li ng-repeat="hike in hCtrl.trails | filter:searchText" class="list-group-item" style="font-family: 'Raleway', sans-serif; font-size:16px;">
                <img style="height:200px; width:200px; float:right; padding:10px;" src="{{ hike.thumbnail }}" />
                <span class="listHeading">City:</span> {{ hike.city }}
                <br>
                <span class="listHeading">Trail Name:</span> {{ hike.name }}
                <br>
                <span class="listHeading">Getting there:</span> {{ hike.directions }}
                <br>
                <span class="listHeading">Lat:</span> {{ hike.lat }}
                <br>
                <span class="listHeading">Lon:</span> {{ hike.lon }}
                

                <!-------------form to add hike to completed for dashboard-------------------------->
                <br>

                <span class="listHeading">Activity:</span> {{ hike.activity_type_name }}
                <br>
                <button type="button" class="btn btn-danger btn-lg" name="completed" style='float:right;' ng-click='logCtrl.favorite()'>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add to Favorites
                </button>
                <br>
                <span class="listHeading">Description:</span> {{ hike.description }}
                <br>
                <br>
                <span class="listHeading">Rating:</span> {{ hike.rating }}
                <br>
                <a target="_blank" href="{{ hike.url }}">Link to More Trail Information</a>
                <!----------------------button to edit each individual hike---------------------->
                <button ng-click='hCtrl.editHike(hike._id)'>Edit</button>
    </div>
    </li>
    </ul>
    {{hCtrl.working}}
</div>
