<!-------------------------button to create new hike------------------------------->
<button ng-click='hCtrl.createHike()'>New Hike</button>

<!-------------------List displaying all hikes using repeat------------------------>
    <UL>
      <li ng-repeat="hike in hCtrl.discs">
          City: {{ hike.city }}
          <br>
          State: {{ hike.state }}
          <br>
          Trail Name: {{ hike.name }}
          <br>
          Getting there: {{ hike.directions }}
          <br>
          Lat: {{ hike.lat }}
          <br>
          Lon: {{ hike.lon }}
          <br>
          Activity: {{ hike.activity_type_name }}
          <br>
          Link: {{ hike.url }}
          <br>
          Description: {{ hike.description }}
          <br>
          <!--Picture: <img style="height:300px; width:300px"src= "{{ hike.thumbnail }}"/>-->
          <br>
          Rating: {{ hike.rating }}
          <br>
          
<!----------------------button to edit each individual hike---------------------->
          <button ng-click='hCtrl.editHike(hike._id)'>Edit</button>
      </li>
    </UL>
{{hCtrl.working}}