<!-----------------------------bootstrap log on form-->
<!--<form class="form-signin, container" ng-submit="logCtrl.login()">-->
<!--  <h2 class="form-signin-heading">Please sign in</h2>-->
<!--  <label for="inputEmail" class="sr-only">Email address</label>-->
<!--  <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="logCtrl.username">-->
<!--  <label for="inputPassword" class="sr-only">Password</label>-->
<!--  <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="logCtrl.password">-->
<!--  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--</form>-->

<!--<h1>Register</h1>-->
<!--<form class="form-signin, container" ng-submit="logCtrl.signup()">-->
<!--  <h2 class="form-signin-heading">Please create account</h2>-->
<!--  <label for="inputEmail" class="sr-only">Email address</label>-->
<!--  <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="logCtrl.newuserData.username">-->
<!--  <label for="inputPassword" class="sr-only">Password</label>-->
<!--  <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="logCtrl.newuserData.password">-->
<!--  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--</form>-->

 <div class="container" ng-hide="logCtrl.showNewUser">
        <div class="card card-container">
             <!--<img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="https://c2.staticflickr.com/4/3755/9123852150_a428360054.jpg" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin"  ng-submit="logCtrl.login()">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="logCtrl.username"required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="logCtrl.password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
    
    <div class="wrap">
    	<input class='btn btn-info;' style="text-align:center;" id='adduser' ng-click='logCtrl.addUser()' type='button' value='Create A New User' ng-hide="logCtrl.showNewUser"/>
    </div>
		
		<div class="container" ng-show='logCtrl.showNewUser'>
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin"  ng-submit="logCtrl.signup()">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="logCtrl.newuserData.username"required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="logCtrl.newuserData.password" required>
                <input type="password" id="inputPassword" class="form-control" placeholder="Repeat Password" >
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create Account</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->