<div id="treatmentWrapperimg">
    <div class='container' style='color:white;'>
        <p> Of the 100 tallest mountains in Colorado, 53 are above the elevation of 14, 000 feet and are known as the "Fourteeners." There is actually some debate as to how many Fourteeners there are in Colorado. I simply go by the generally accepeted rule that
            to be considered a unique summit it must rise more than 300 feet from it's connecting saddle to a taller peak. By this rule there are 53 fourteeners in Colorado. Below is a chart listing all of the summits I have climbed. I included two peaks
            that fall under the classic list of 14ers but don't rise 300 feet above their connecting saddles. They are North Maroon and El Diente two very noteworthy summits in spite of their lack of rise. Unfortunately there are a few for which I have no
            pictures. </p>
        <table border=0 cellpadding=0 cellspacing=0>
            <tr>
                <tr>
                    <td colspan=3>
                        <BR>
                        <hr size=5 color=550000>
                        <BR> </td>
                </tr>
                <td width=400 align=center valign=top>
                    <table border="2" cellpadding="2" cellspacing="2">
                        <tr>
                            <th colspan=3><font size=5 color=550000>SAWATCH <br> RANGE</font></th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Summit</th>
                            <th>Elevation</th>
                        </tr>
                        <TR>
                            <td> 1 </td>
                            <td width=150> Mt. Elbert</td>
                            <td> 14, 433 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Mt. Massive </td>
                            <td> 14, 421 </td>
                        </TR>
            </tr>
            <TR>
                <td> 3 </td>
                <td> Mt. Harvard </td>
                <td> 14, 420 </td>
            </tr>
            <TR>
                <td> 5 </td>
                <td>La Plata Peak</td>
                <td> 14, 336 </td>
            </tr>
            <TR>
                <td> 10 </td>
                <td> Mt. Antero </td>
                <td> 14, 269 </td>
            </tr>
            <TR>
                <td> 17 </td>
                <td> Mt. Shavano </td>
                <td> 14, 229 </td>
            </tr>
            <TR>
                <td> 18 </td>
                <td> Mt. Belford </td>
                <td> 14, 197 </td>
            </tr>
            <TR>
                <td> 20 </td>
                <td> Mt. Princeton </td>
                <td> 14, 197 </td>
            </tr>
            <TR>
                <td> 21 </td>
                <td> Mt. Yale</a>
                </td>
                <td> 14, 196 </td>
            </tr>
            <TR>
                <td> 25 </td>
                <td> Tabeguache Peak </td>
                <td> 14, 155 </td>
            </tr>
            <TR>
                <td> 26 </td>
                <td> Mt. Oxford </td>
                <td> 14, 153 </td>
            </tr>
            <TR>
                <td> 35 </td>
                <td> Mt. Columbia </td>
                <td> 14, 073 </td>
            </tr>
            <TR>
                <td> 36 </td>
                <td> Missouri Mountain </td>
                <td> 14, 067 </td>
            </tr>
            <TR>
                <td> 51 </td>
                <td> Mt. of the Holy Cross </td>
                <td> 14, 005 </td>
            </tr>
            <TR>
                <td> 52 </td>
                <td> Huron Peak</td>
                <td> 14, 003 </td>
            </tr>
            </table>
            </td>
            <td width=400 align=center valign=top>
                <table border="2" cellpadding="2" cellspacing="2">
                    <tr>
                        <th colspan=3><font size=5 color=550000>SAN JUAN <br> RANGE</font>
                        </th>
                    </tr>
                    <tr>
                        <th>Rank</th>
                        <th>Summit</th>
                        <th>Elevation</th>
                    </tr>
                    <TR>
                        <td>6</td>
                        <td width=150> Uncompahgre Peak</td>
                        <td> 14, 309 </td>
                    </tr>
                    <TR>
                        <td> 16 </td>
                        <td> Mt. Wilson </td>
                        <td> 14, 246 </td>
                    </tr>
                    <TR>
                        <td> ** </td>
                        <td> El Diente </td>
                        <td> 14, 159 </td>
                    </tr>
                    <TR>
                        <td> 27 </td>
                        <td> Mt. Sneffels </td>
                        <td> 14, 150 </td>
                    </tr>
                    <TR>
                        <td> 32 </td>
                        <td> Mount Eolus</td>
                        <td> 14, 083 </td>
                    </tr>
                    <TR>
                        <td> 33 </td>
                        <td> Windom Peak </td>
                        <td> 14, 082 </td>
                    </tr>
                    <TR>
                        <td> 39 </td>
                        <td> Sunlight Peak </td>
                        <td> 14, 059 </td>
                    </tr>
                    <TR>
                        <td> 40 </td>
                        <td> Handies Peak </td>
                        <td> 14, 053 </td>
                    </tr>
                    <TR>
                        <td> 46 </td>
                        <td> Redcloud Peak </td>
                        <td> 14, 034 </td>
                    </tr>
                    <TR>
                        <td> 48 </td>
                        <td> Wilson Peak</td>
                        <td> 14, 017 </td>
                    </tr>
                    <TR>
                        <td> 49 </td>
                        <td> Wetterhorn Peak</td>
                        <td> 14, 015 </td>
                    </tr>
                    <TR>
                        <td> 50 </td>
                        <td> San Luis Peak </td>
                        <td> 14, 014 </td>
                    </tr>
                    <TR>
                        <td> 53 </td>
                        <td> Sunshine Peak </td>
                        <td> 14, 001 </td>
                    </tr>
                </table>
            </td>
            <td width=400 align=center valign=top>
                <table border="2" cellpadding="2" cellspacing="2">
                    <tr>
                        <th colspan=3><font size=5 color=550000>SANGRE DE CRISTO RANGE</font></th>
                    </tr>
                    <tr>
                        <th>Rank</th>
                        <th>Summit</th>
                        <th>Elevation</th>
                    </tr>
                    <TR>
                        <td> 4 </td>
                        <td width=150> Blanca Peak </td>
                        <td> 14, 345 </td>
                    </tr>
                    <TR>
                        <td> 7 </td>
                        <td> Crestone Peak </td>
                        <td> 14, 294 </td>
                    </tr>
                    <TR>
                        <td> 19 </td>
                        <td> Crestone Needle</td>
                        <td> 14, 197 </td>
                    </tr>
                    <TR>
                        <td> 23 </td>
                        <td> Kit Carson Peak </a>
                        </td>
                        <td> 14, 165 </td>
                    </tr>
                    <TR>
                        <td> 34 </td>
                        <td>Challenger Point </td>
                        <td> 14, 080 </td>
                    </tr>
                    <TR>
                        <td> 37 </td>
                        <td>Humboldt Peak</td>
                        <td> 14, 064 </td>
                    </tr>
                    <TR>
                        <td> 41 </td>
                        <td>Culebra</td>
                        <td> 14, 047 </td>
                    </tr>
                    <TR>
                        <td> 42 </td>
                        <td> Ellingwood Point </td>
                        <td> 14, 042 </td>
                    </tr>
                    <TR>
                        <td> 43 </td>
                        <td>Mt. Lindsey</td>
                        <td> 14, 042 </td>
                    </tr>
                    <TR>
                        <td> 44 </td>
                        <td>Little Bear Peak</td>
                        <td> 14, 037 </td>
                    </tr>
                </table>
            </td>
            </tr>
            <tr>
                <td colspan=3>
                    <BR>
                    <hr size=5 color=550000>
                    <BR>
                </td>
            </tr>
            <tr>
                <td width=400 align=center valign=top>
                    <table border="2" cellpadding="2" cellspacing="2">
                        <tr>
                            <th colspan=3><font size=5 color=550000>TENMILE/MOSQUITO <br> RANGE</font></th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Summit</th>
                            <th>Elevation</th>
                        </tr>
                        <TR>
                            <td> 8 </td>
                            <td width=150> Mt. Lincoln </td>
                            <td> 14, 286 </td>
                        </tr>
                        <TR>
                            <td> 13 </td>
                            <td>Quandary Peak</td>
                            <td> 14, 265 </td>
                        </tr>
                        <TR>
                            <td> 22 </td>
                            <td>Mt. Bross</td>
                            <td> 14, 172 </td>
                        </tr>
                        <TR>
                            <td> 28 </td>
                            <td>Mt. Democrat</td>
                            <td> 14, 148 </td>
                        </tr>
                        <TR>
                            <td> 45 </td>
                            <td>Mt. Sherman</td>
                            <td> 14, 036 </td>
                        </tr>
                    </TABLE>
                </td>
                <td width=400 align=center valign=top>
                    <table border="2" cellpadding="2" cellspacing="2">
                        <tr>
                            <th colspan=3><font size=5 color=550000>FRONT <br> RANGE</font></th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Summit</th>
                            <th>Elevation</th>
                        </tr>
                        <TR>
                            <td> 9 </td>
                            <td width=150> Grays Peak</td>
                            <td> 14, 270 </td>
                        </tr>
                        <TR>
                            <td> 11 </td>
                            <td>Torreys Peak</td>
                            <td> 14, 267 </td>
                        </tr>
                        <TR>
                            <td> 14 </td>
                            <td> Mt. Evans </td>
                            <td> 14, 264 </td>
                        </tr>
                        <TR>
                            <td> 15 </td>
                            <td> Longs Peak</td>
                            <td> 14, 255 </td>
                        </tr>
                        <TR>
                            <td> 30 </td>
                            <td>Pikes Peak</td>
                            <td> 14, 110 </td>
                        </tr>
                        <TR>
                            <td> 38 </td>
                            <td>Mt. Bierstadt</td>
                            <td> 14, 060 </td>
                        </tr>
                    </TABLE>
                </td>
                <td width=400 align=center valign=top>
                    <table border="2" cellpadding="2" cellspacing="2">
                        <tr>
                            <th colspan=3><font size=5 color=550000>ELK <br> RANGE</font></th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Summit</th>
                            <th>Elevation</th>
                        </tr>
                        <TR>
                            <td> 12 </td>
                            <td width=150> Castle Peak</td>
                            <td> 14, 265 </td>
                        </tr>
                        <TR>
                            <td> 24 </td>
                            <td>Maroon Peak</td>
                            <td> 14, 156 </td>
                        </tr>
                        <TR>
                            <td> 29 </td>
                            <td>Capitol Peak</td>
                            <td> 14, 130 </td>
                        </tr>
                        <TR>
                            <td> 31 </td>
                            <td>Snowmass Mountain</td>
                            <td> 14, 092 </td>
                        </tr>
                        <TR>
                            <td> 47 </td>
                            <td>Pyramid Peak</td>
                            <td> 14, 018 </td>
                        </tr>
                        <TR>
                            <td> ** </td>
                            <td>North Maroon Peak</td>
                            <td> 14, 014 </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan=3>
                    <BR>
                    <hr size=5 color=550000>
                    <BR>
                </td>
            </tr>
        </table>
    </div>
</div>
