<!-------------------------profile card------------------------------------------>

<h2 class="display-1">Favorite Trails</h2>

<div class="demo-card">
    <div class="card">
        <div class="card-header">
            Completed Trails
        </div>
        <h1 ng-repeat="favorite in hCtrl.userFav">{{favorite}}</h1>
        <!--<img class="card-img-top" src="https://www.nsmba.ca/sites/default/files/images/misc/cbc-bridges.jpg">-->
        <div class="card-block">
            <h4 class="card-title"> </h4>
    
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
            </ul>
        </div>
       
        <div class="card-footer text-muted">
            Get Outside
        </div>
    </div>
</div>


<button ng-click='logCtrl.logout()'>logout</button>
