<!-------------------------profile card------------------------------------------>

<h2 class="display-1">Favorite Trails</h2>
<h4 class="title">Demo Card with everything</h4>
<div class="demo-card">
    <div class="card">
        <div class="card-header">
            Completed Trails
        </div>
        <img class="card-img-top" src="https://www.nsmba.ca/sites/default/files/images/misc/cbc-bridges.jpg">
        <div class="card-block">
            <h4 class="card-title">{{ logCtrl.userTrails }}</h4>
    
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="card-block">
            <a href="#" class="btn btn-primary">Button</a>
        </div>
        <div class="card-footer text-muted">
            This is a card footer
        </div>
    </div>
</div>
            <form ng-submit='logCtrl.weather()'>
                <button type="submit" name="button">search weather</button>
            </form>
            <form ng-submit='logCtrl.getweather()'>
                <button type="submit" name="button">search for weather</button>
            </form>

<button ng-click='logCtrl.logout()'>logout</button>
